################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
/Twitch Chat Snip Helper CLI/bin
/Twitch Chat Snip Helper CLI/obj
